{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/main.css' %}">
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            

                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>

                            <h2 class="page-cover-tittle">Administration service Platform</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-taxation' %}">Home</a></li>
                        <li class="active">Administration Services</li>
                    </ol>
                </div>
                  <div class="col-md-12">
                        <div class="banner_content">
                           
                            <a href="{% url 'jwm-audit' %}" class="btn_hover btn_hover_two">Audit Services</a>
                             <a href="{% url 'jwm-financial' %}" class="btn_hover btn_hover_two">Financial Services</a>
                             <a href="{% url 'jwm-bookkeeping' %}" class="btn_hover btn_hover_two">Book Keeping & Accountancy Services</a>
                               <a href="{% url 'jwm-taxation' %}" class="btn_hover btn_hover_two">Taxation Services</a>
                            <a href="{% url 'jwm-companysecretary' %}" class="btn_hover btn_hover_two">Company Secretarial Services</a>
                               <a href="{% url 'jwm-administration' %}" class="btn_hover btn_hover_two">Administration services</a>
                               <a href="{% url 'jwm-hr' %}" class="btn_hover btn_hover_two">Human Resource services</a>

                               <a href="{% url 'jwm-other' %}" class="btn_hover btn_hover_two">Other Services</a>

                                 
                                  


                        </div>
                    </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->





          <!-- what we do
    ================================================== -->
    <section class="sermons_work_area section_gap">

        <div class="section_title text-center">
                    
                    <p><font color="black"> JWM and Associates is dedicated to providing comprehensive administration services that streamline your business operations and ensure efficient management of administrative tasks. We understand the importance of effective administration in supporting your core business functions. Our experienced team of professionals is committed to delivering reliable, accurate, and confidential administration services tailored to meet your specific needs. Here are the key administration services we offer:
                    </font></p>
                </div>
            

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Administration Services</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">
                 <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>


                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Safekeeping of Company's Records:</h4>

                        <p>
                        We offer secure storage and safekeeping of your company's records, ensuring their confidentiality and accessibility when needed. Our systematic approach to record-keeping ensures that important documents, such as legal contracts, financial statements, and other business records, are properly organized and readily available.we can securely store and manage your cheque books and bank tokens, ensuring their safekeeping and controlled access. This service provides added security and convenience in managing your financial transactions.                       
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>ETR Receipt Management (Optional):</h4>
                        <p>
                        For businesses that use Electronic Tax Registers (ETRs), we provide the safekeeping of clients' ETRs and can produce ETR receipts when required. Our efficient management of ETR receipts ensures compliance with tax regulations while maintaining accurate financial records.                               
                        </p>
                    </div>
                </div>

            

                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Customer Invoicing and Quotations:</h4>

                        <p>
                        We assist in preparing customer invoices and quotations according to your specific requirements. Our team ensures accurate and timely invoicing, helping you maintain strong customer relationships and facilitating prompt payment.                            
                        </p>
                    </div>
                </div>


               
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Payment Follow-up:</h4>

                        <p>
                      We understand the importance of timely payments for your business cash flow. Our team will diligently follow up on customer payments, sending reminders and maintaining regular communication to ensure prompt payment and minimize any outstanding invoices.                                                                  
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="5" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Opening Company Bank Accounts:</h4>

                        <p>
                     When required, we can facilitate the process of opening company bank accounts. Our team will guide you through the necessary documentation and requirements, ensuring a smooth and efficient account opening process.                                                                     
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="6" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Coordinating Company Functions:</h4>

                        <p>
                      We offer coordination services for your company's functions, such as meetings, conferences, and events. From venue selection and logistics management to scheduling and coordination, we ensure that your company functions are well-organized and run smoothly.                                                                    
                        </p>
                    </div>
                </div>


            
               
               
               
               
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->

        
       
        
        
{% endblock %}