{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
        
         <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
      
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>
                            <h2 class="page-cover-tittle">Careers</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-home' %}">Home</a></li>
                        <li class="active">Careers</li>
                    </ol>
                </div>
                            
                       
                        <div class="col-md-12">
                        <div class="banner_content">
                           
                            
                                  


                        </div>
                    </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area section_gap">
            <div class="container">
                
                <div class="row">
                    
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->
{% endblock content %}