{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/main.css' %}">
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            

                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>

                            <h2 class="page-cover-tittle">Human resource service Platform</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-hr' %}">Home</a></li>
                        <li class="active">HR Services</li>
                    </ol>
                </div>
                  <div class="col-md-12">
                        <div class="banner_content">
                           
                            <a href="{% url 'jwm-audit' %}" class="btn_hover btn_hover_two">Audit Services</a>
                             <a href="{% url 'jwm-financial' %}" class="btn_hover btn_hover_two">Financial Services</a>
                             <a href="{% url 'jwm-bookkeeping' %}" class="btn_hover btn_hover_two">Financial Services</a>
                               <a href="{% url 'jwm-taxation' %}" class="btn_hover btn_hover_two">Taxation Services</a>
                            <a href="{% url 'jwm-companysecretary' %}" class="btn_hover btn_hover_two">Company Secretarial Services</a>
                               <a href="{% url 'jwm-administration' %}" class="btn_hover btn_hover_two">Administration services</a>
                               <a href="{% url 'jwm-hr' %}" class="btn_hover btn_hover_two">Human Resource services</a>

                               <a href="{% url 'jwm-other' %}" class="btn_hover btn_hover_two">Other Services</a>

                                 
                                  


                        </div>
                    </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->





          <!-- what we do
    ================================================== -->
    <section class="sermons_work_area section_gap">

        <div class="section_title text-center">
                    
                    <p><font color="black"> JWM and Associates offer a range of HR services to assist organizations in managing their human resources effectively. Here are some of the HR services provided by JWM and Associates:
                    </font></p>
                </div>
            

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">HR Services</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">
                 <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>


                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Prepare Employee Contracts:</h4>

                        <p>
                        JWM and Associates can assist in drafting and preparing employment contracts for new and existing employees. These contracts outline the terms and conditions of employment, including job responsibilities, compensation, benefits, and other relevant details.
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Recruitment and Hiring:</h4>
                        <p>
                        JWM and Associates can support the recruitment and hiring process by assisting in sourcing and screening candidates, conducting interviews, and providing recommendations to the organization. They can help ensure that the hiring process is fair, efficient, and aligned with the organization's needs.                          
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Payroll Management:</h4>

                        <p>
                       JWM and Associates can handle the payroll management process for the organization, including preparing and processing employee salaries, calculating deductions, managing tax obligations, and ensuring compliance with relevant employment regulations. They can also handle payroll for casual or temporary workers.                                            
                        </p>
                    </div>
                </div>


                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Job Descriptions: </h4>

                        <p>
                        JWM and Associates can assist in developing comprehensive job descriptions for all positions within the organization. These job descriptions outline the responsibilities, qualifications, and expectations for each role, providing clarity for both employees and managers.                                
                        </p>
                    </div>
                </div>

                 <div class="col-block process__col" data-item="5" data-aos="fade-up">
                                    <div class="process__text">
                                        <h4>Customer Contracts and Agreements:</h4>

                                        <p>
                                      We can support you in preparing customer contracts and agreements, ensuring that they are comprehensive, legally compliant, and protect your business interests. Our team will work closely with you to understand your specific contractual needs and provide customized solutions.                                                                     
                                        </p>
                                    </div>
                                </div>



            
               
               
               
               
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->

        
       
        
        
{% endblock %}