{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/main.css' %}">
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            

                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>

                            <h2 class="page-cover-tittle">Our service Platform</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-home' %}">Home</a></li>
                        <li class="active">our services</li>
                    </ol>
                </div>
                  <div class="col-md-12">
                        <div class="banner_content">
                           
                          <a href="{% url 'jwm-audit' %}" class="btn_hover btn_hover_two">Audit Services</a>
                             <a href="{% url 'jwm-financial' %}" class="btn_hover btn_hover_two">Financial Services</a>
                             <a href="{% url 'jwm-bookkeeping' %}" class="btn_hover btn_hover_two">Book Keeping & Accountancy Services</a>
                               <a href="{% url 'jwm-taxation' %}" class="btn_hover btn_hover_two">Taxation Services</a>
                            <a href="{% url 'jwm-companysecretary' %}" class="btn_hover btn_hover_two">Company Secretarial Services</a>
                               <a href="{% url 'jwm-administration' %}" class="btn_hover btn_hover_two">Administration services</a>
                               <a href="{% url 'jwm-hr' %}" class="btn_hover btn_hover_two">Human Resource services</a>

                               <a href="{% url 'jwm-other' %}" class="btn_hover btn_hover_two">Other Services</a>
                                  


                        </div>
                    </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->





          <!-- what we do
    ================================================== -->
    <section class="sermons_work_area section_gap">

        

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Services</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Financial Services</h4>

                        <p>
                        •   Prepare Monthly and annual financial report</br> 
                        •   Prepare and present monthly management reports</br>
                        •   Prepare Monthly payments to different suppliers</br>
                        •   Bank, Cash, Debtors and Creditors reconciliation every month.</br>
                        •   Preparing invoices for suppliers</br>
                        •   Conduct monthly stock take and compare with monthly sales</br>
                        •   Prepare annual and monthly budget and ensure that the expenditures are as per the budget lines.</br>
                        •   Prepare for financial audit and ensure its done on time

                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>TAXATION DUTIES</h4>

                        <p>
                        <h5>A. Prepare and remit the following taxes in due time</br></h5>
                            &nbsp &nbsp •  Pay As You Earn(PAYE)</br>
                            &nbsp &nbsp •  Value Added Tax (VAT)</br>
                            &nbsp &nbsp •   Corporation Tax</br>
                            &nbsp &nbsp •   Individual Income Tax</br>
                            &nbsp &nbsp •   Withholding tax</br>
                            &nbsp &nbsp •   Turnover Tax</br>
                            &nbsp &nbsp •   Withholding VAT Tax</br>
                            &nbsp &nbsp •   Withholding Rental Income Tax</br>
                            &nbsp &nbsp •   Fridge Benefit Tax</br>
                            &nbsp &nbsp •   Capital Gain Tax</br>
                            &nbsp &nbsp •   Excise Tax</br>
                            &nbsp &nbsp •   Advance Tax</br>
                            &nbsp &nbsp•   Import Duty</br>
                        <h5>B.  Online Preparation and remittance of other statutory deductions </br></h5>
                            &nbsp &nbsp •   NSSF</br>
                            &nbsp &nbsp •   NHIF</br>
                            &nbsp &nbsp •   NITA </br>
                            &nbsp &nbsp •   Standards Levy (KEBS)</br>
                            &nbsp &nbsp •   Catering Levy</br>
                            C.Perform I-tax Reconciliations with books of accounts ledgers</br>
                            D.Follow up with KRA in case of any tax dispute</br>
                            E.Overall Tax consultancy




                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Administration</h4>

                        <p>
                        •   Safe Keeping of company’s records</br>
                        •   Keeping clients ETRs’ and Produce ETR Receipts when required (Optional)</br>
                        •   Safe keeping of cheque books and bank tokens (Optional)</br>
                        •   Prepare customer invoices and quotations as required</br> 
                        •   Prepare customer contracts agreements etc</br>
                        •   Following up on customer payments</br>
                        •   Open companies bank accounts as needed</br> 
                        •   Co-ordinate company’s functions.</br>


                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>HUMAN RESOUCE SERVICES</h4>

                        <p>
                        •   Prepare employees contracts</br>
                        •   Involved in hiring new member of staff</br>
                        •   Prepare employees payroll and pay casuals</br>
                        •   Prepare job descriptions for all employee</br>  

                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="5" data-aos="fade-up">
                    <div class="process__text">
                        <h4>SECRETARIAL SERVICES</h4>

                        <p>
                        •   Company secretary</br>
                        •   Company Registration</br>
                        •   Ensure all company’s requirements are met as per company’s act cap 486</br>
                         

                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="6" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Audit SERVICES</h4>

                        <p>
                         •    Plan effective auditing processes</br>
                         •    Audit financial statements and assess accounts for accuracy and regulatory compliance</br>
                         •    Inspect internal systems and controls</br>
                         •    Assess risk management tactics</br>
                         •    Perform audits of non-financial areas, like Health & Safety and IT</br>
                         •    Report systematic errors or fraud indicators</br>
                         •   Investigate specific issues regulatory bodies bring forward</br>
                         •   Explain audit findings and recommend solutions</br>


                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="7" data-aos="fade-up">
                    <div class="process__text">
                        <h4>OTHER SERVICES</h4>

                        <p>
                         •   E-citizen</br>
                         •    NTSA Services</br>
                         •    TIMS</br>

                        </p>
                    </div>
                </div>
               
               
               
               
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->

        
       
        
        
{% endblock %}