{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/main.css' %}">
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            

                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>

                            <h2 class="page-cover-tittle">Taxation service Platform</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-taxation' %}">Home</a></li>
                        <li class="active">Taxation Services</li>
                    </ol>
                </div>
                  <div class="col-md-12">
                        <div class="banner_content">
                           
                          <a href="{% url 'jwm-audit' %}" class="btn_hover btn_hover_two">Audit Services</a>
                             <a href="{% url 'jwm-financial' %}" class="btn_hover btn_hover_two">Financial Services</a>
                             <a href="{% url 'jwm-bookkeeping' %}" class="btn_hover btn_hover_two">Book Keeping & Accountancy Services</a>
                               <a href="{% url 'jwm-taxation' %}" class="btn_hover btn_hover_two">Taxation Services</a>
                            <a href="{% url 'jwm-companysecretary' %}" class="btn_hover btn_hover_two">Company Secretarial Services</a>
                               <a href="{% url 'jwm-administration' %}" class="btn_hover btn_hover_two">Administration services</a>
                               <a href="{% url 'jwm-hr' %}" class="btn_hover btn_hover_two">Human Resource services</a>

                               <a href="{% url 'jwm-other' %}" class="btn_hover btn_hover_two">Other Services</a>
                            

                                 
                                  


                        </div>
                    </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->





          <!-- what we do
    ================================================== -->
    <section class="sermons_work_area section_gap">

        <div class="section_title text-center">
                    
                    <p><font color="black"> At JWM and Associates,We are delighted to present our comprehensive range of taxation services designed to assist you in meeting your tax obligations, optimizing tax efficiency, and ensuring compliance with regulatory requirements. At JWM and Associates, we understand the complexities of the ever-changing tax landscape and the importance of effective tax planning. Our team of experienced tax professionals is dedicated to providing personalized tax services tailored to your specific needs.
                    </font></p>
                </div>
            

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Taxation Services</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">
                 <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>


                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Prepare and Remit Various Taxes:</h4>

                        <p>
                        We offer expert assistance in preparing and remitting a wide range of taxes, ensuring that you meet your tax obligations promptly. Our services include handling the following taxes:</br>
                        Pay As You Earn (PAYE),
                        Value Added Tax (VAT),
                        Corporation Tax,
                        Individual Income Tax,
                        Withholding Tax,
                        Turnover Tax,
                        Withholding VAT Tax,
                        Withholding Rental Income Tax,
                        Fridge Benefit Tax,
                        Capital Gain Tax,
                        Excise Tax,
                        Advance Tax,
                        Import Duty
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Online Preparation and Remittance of Statutory Deductions:</h4>
                        <p>
                        In addition to taxes, we provide online preparation and remittance services for various statutory deductions. Our team will ensure accurate calculations and timely submission of the following deductions:</br>
                            National Social Security Fund (NSSF),
                            National Health Insurance Fund (NHIF),
                            National Industrial Training Authority (NITA),
                            Standards Levy (KEBS),
                            Catering Levy                                 
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>I-tax Reconciliations:</h4>

                        <p>
                       We specialize in performing I-tax reconciliations with books of accounts ledgers, ensuring that all tax-related transactions are accurately recorded and reconciled. This process helps identify any discrepancies and ensures the accuracy of your tax filings.                                               
                        </p>
                    </div>
                </div>


                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Tax Dispute Resolution:</h4>

                        <p>
                        In the unfortunate event of a tax dispute, our team will act as your advocate and liaison with the Kenya Revenue Authority (KRA). We will diligently follow up on your behalf, providing the necessary documentation and supporting evidence to resolve the dispute in a timely and efficient manner.                                
                        </p>
                    </div>
                </div>


                <div class="col-block process__col" data-item="5" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Overall Tax Consultancy:</h4>

                        <p>
                       Our taxation services extend beyond compliance. We offer comprehensive tax consultancy to help you optimize your tax position, identify potential tax savings, and mitigate any risks. Our experienced consultants will provide tailored advice and strategies to help you make informed decisions and maximize your tax efficiency.                                                                      
                        </p>
                    </div>
                </div>


            
               
               
               
               
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->

        
       
        
        
{% endblock %}