{% extends 'jwm/base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="{% static 'trans/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'trans/css/main.css' %}">
        
         <!--================banner Area =================-->
        
        <section class="breadcrumb_area br_image">



            
            <div class="container align-self-center">

                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            
                           
                            

                            <h2><font color="white"> JWM & ASSOCIATES ACCOUNTANCY & AUDIT </font>   <img src="{% static 'image/jwmlogo.png' %}" width="150px" height="150px" ></h2>

                            <h2 class="page-cover-tittle">Our Work Platform</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jwm-home' %}">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
                  <div class="col-md-12">
                        <div class="banner_content">
                           
                           <a href="{% url 'jwm-audit' %}" class="btn_hover btn_hover_two">Audit Services</a>
                             <a href="{% url 'jwm-financial' %}" class="btn_hover btn_hover_two">Financial Services</a>
                             <a href="{% url 'jwm-bookkeeping' %}" class="btn_hover btn_hover_two">Book Keeping & Accountancy Services</a>
                               <a href="{% url 'jwm-taxation' %}" class="btn_hover btn_hover_two">Taxation Services</a>
                            <a href="{% url 'jwm-companysecretary' %}" class="btn_hover btn_hover_two">Company Secretarial Services</a>
                               <a href="{% url 'jwm-administration' %}" class="btn_hover btn_hover_two">Administration services</a>
                               <a href="{% url 'jwm-hr' %}" class="btn_hover btn_hover_two">Human Resource services</a>

                               <a href="{% url 'jwm-other' %}" class="btn_hover btn_hover_two">Other Services</a>



                                 
                                  


                        </div>
                    </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->





          <!-- what we do
    ================================================== -->
    <section class="sermons_work_area section_gap">

        <div class="section_title text-center">
                    
                    <p><font color="black"> At JWM Associates, we are dedicated to providing exceptional accounting,tax and audit services to help businesses thrive and achieve their financial goals. With our team of highly skilled professionals and our commitment to excellence, we have earned a reputation as a trusted partner for businesses of all sizes. </font></p>
                </div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Mission and Vision Statment</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Mission</h4>

                        <p>
                         To empower individuals and businesses in Kenya to achieve their financial goals and
                            secure their financial future through expert advice, personalized solutions, and unparalleled
                            service.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Vision</h4>

                        <p>
                         To be the leading financial advisory company, renowned for our unwavering commitment
                    to client-centricity, integrity, and excellence. We aim to be the first choice for individuals and
                    businesses seeking expert financial advice, renowned for our ability to deliver holistic and
                    forward-thinking solutions that empower our clients to realize their financial aspirations and build
                    a secure future.
                                            </p>
                    </div>
                </div>
                
               <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Our Values</h4>

                        <p>
                       Integrity: Provide professional services with integrity.
                    <p>Objectivity: Provide professional services objectively.</p>
                   <p>Competence: Maintain the knowledge and skill necessary to provide professional services competently.</p>
                    <p>Fairness: Be fair and reasonable in all professional relationships. Disclose conflicts
                    of interest.</p>
                    <p>Confidentiality: Protect the confidentiality of all client information.</p>
                    <p>Professionalism: Act in a manner that demonstrates exemplary professional conduct.</p>
                    <p>Communication: Consistent communication and engagement between us and our
                    clients creates an informed relationship.
                                                                </p>
                    </div>
                </div>
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->



     <!-- Team
    ================================================== -->
    <section class="sermons_work_area section_gap">


        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Team</h3>
                <h1 class="display-1"> </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4></h4>

                        <p>
                        
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4></h4>

                        <p>
                       
                        </p>
                    </div>
                </div>

                 <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4></h4>

                        <p>
                       
                        </p>
                    </div>
                </div>

                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4></h4>

                        <p>
                       
                        </p>
                    </div>
                </div>
                
                
               
                

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->


        
       
        
        
{% endblock %}